<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        BUILDWITHKAORI adalah layanan pengembangan frontend yang berfokus pada 
        pembuatan website cepat, responsif, dan modern — mulai dari landing page sederhana hingga aplikasi web 
        multi-halaman yang kompleks
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Saya membangun web menggunakan Next.js, Astro, Tailwind CSS, React, dan TypeScript. 
        Dengan pendekatan modular dan performa tinggi, saya bantu mewujudkan 
        ide kamu menjadi pengalaman digital yang solid, ringan, dan mudah di-maintain.

Bangun web impianmu dengan fondasi frontend yang kuat dan teknologi terkini.
      </p>
    </div>
  </div>
</section>
