<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        How I Work
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Discovery – Kenalan Dulu Sama Proyek Kamu:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Pertama-tama, kita ngobrol dulu. Saya ingin tahu tujuan proyeknya, siapa audiensnya, 
          dan style seperti apa yang kamu suka. 
          Di tahap ini, saya bantu cari arah desain dan teknis yang paling cocok buat kamu.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            > Design – Pemilihan Desain:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Untuk tampilan, saya pakai desain yang sudah disiapkan atau pilihkan dari template yang cocok. 
          Memang bukan UI/UX designer, tapi saya pastikan hasil akhirnya tetap clean, estetik, dan user-friendly.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Development – dengan Teknologi Modern:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Saat desain sudah oke, saya mulai masuk tahap development. 
          Saya biasanya menggunakan Next.js, Astro, 
          dan Tailwind CSS untuk membuat website yang cepat, responsive, dan mudah dikembangkan ke depannya.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Launch – Siap Online dan Bisa Langsung Dipakai:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Setelah semua beres, saya deploy website-nya ke platform seperti Vercel atau Netlify. 
          Website akan dites dulu untuk memastikan semuanya berjalan lancar — dari kecepatan sampai tampilannya di berbagai device.
        </p>
      </div>
    </div>
  </div>
</section>
